
<div class="about-main">
  <h2>Cryptohubとは</h2>
  <p>
    暗号通貨に関する情報のキュレーション、メディア、およびsnsサイトです。
    ブロックチェーンに関する情報をクローリング、スクレイピングしてきます。
  </p>
  <!--画像のコードを貼り付けてください-->
  <img class="about-img" src="/tweet.png">
  </p>

  <ul>
    <li>基本的な暗号通貨に関して</li>
    <li>Blockchain技術に関して</li>
    <li>Miningに関して</li>
    <li>情報メディアのまとめ</li>
    <li>新着情報のスクレイピング</li>
  </ul>
</div>
