
  <!-- productionでの画像検証用 -->
  <!-- <img src="images/top1.jpg" /> -->
  <div style="background-image:url(/images/top1.jpg)" />


<div class="about-main">
  <h2>Cryptohubとは</h2>
  <p>
    暗号通貨に関する情報のキュレーション、メディア、およびsnsサイトです。
    ブロックチェーンに関する情報をクローリング、スクレイピングしてきます。
  </p>
  <!--画像のコードを貼り付けてください-->
  <img class="about-img" src="images/tweet.png">

  <ul>
    <li>基本的な暗号通貨に関して</li>
    <li>Blockchain技術に関して</li>
    <li>Miningに関して</li>
    <li>新着情報のスクレイピング</li>
  </ul>

  <!--blockchainのCGMみたいなものを作れるのであれば少し作ってみたいかなあというような感じもする-->
  <!--1.wallet,2.token,3.coin この三つに関しては少なくとも早い段階で作る。-->
  <!--何かしらのc2cサイト特徴:ワイヤーフレームを作る能力を作る(イラストとデザイン)。-->
  <!-- 会社紹介でUberとかAirbnbとかメルカリみたいにシンプルに表現できるようにする。 -->
  <!-- ここのところを三分割して表示 -->

  <div class = "feature">
    <ul class="col3">
    <li>情報が集まりやすい(ここに画像挿入と特徴とかも色々入れる)</li> <!--ここにアイコンを挿入したい。フリーの画像素材を持ってこれるようにする。-->
    <li>キャッチアップしやすい</li>
    <li>セグメントが分かれている。</li>
    </ul>
  </div>
</div>
