<div class="main top-main">
  <div class="top-message">
    <h2>つぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>

<!-- この中央部分に新規登録のボタンをつける。 -->
<!-- 何らかのC2Cサイトを作るのでパターンを考える。 -->
<!-- 必要な画面構成とサービスの内容に関して考える。 -->
<!-- UI/UXをあとで考える。 -->
	<p>ボタンをつける<p>
  </div>
</div>
