<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">

        </div>
        <div class="post-right">
          <!-- いいね!ボタンをこの画面の中に内包させたい -->
          <!-- レイアウトもインスタみたいな感じにする -->
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %></br>
          <span class="fa fa-heart like-btn"></span><p>コメント</p>

        </div>
      </div>
    <% end %>
  </div>
</div>
